@import "variables";
@import "mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: $font-primary;
  background: $color-bg;
  color: $color-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
  color: $color-secondary;
}

.nav-item.nav-link {
  padding: 0.1rem 0rem;
  margin: 0.5rem 1rem;

  &.active {
    border-bottom: 2px solid $color-primary;
  }
}

// For responsive features
@media (max-width: 575px) {} // xxs
@media (min-width: 576px) and (max-width: 767px) {} // xs
@media (min-width: 768px) and (max-width: 991px) {} // sm
@media (min-width: 992px) and (max-width: 1199px) {} // md
@media (min-width: 1200px) {} // lg


